/* index */
    .list-row {
        display: block;
    }

    .list-col-md-4 {
        width: 55%;
        margin: auto;
    }

    .list-card {
        border-radius: 0;
        border: none;
        border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }

    a img, button img {
        vertical-align: text-top;
        opacity: 0.75;
    }

    #scroll, #new{
        visibility: hidden;
        position: sticky;
        padding: 0.75rem;
        bottom: 1.5rem;
    }

    #scroll {
        float: right;
    }

    #new {
        float: left;
    }

    #create, #new {
        --bs-btn-padding-x: 0.5rem;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 5px 4px #D1B79F;
    }

    .card-img-top {
        position: relative;
        border-radius: 20px 20px 0 0 ;
    }

    .card-text {
        margin-bottom: 5px;
        font-size: medium;
    }

    .modal-header, .modal-footer {
        border: none;
        padding-right: 1.375rem;
    }

    .modal-body {
        background: white;
        padding: 10px;
    }

    .img-fluid-modal {
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 4px 3px #ccc;
    }

/* about */
    .team-member p {
        margin-bottom: 5px;
    }

/* landing.page */
    .logo, .header {
        background: #dbc7b4;
        float: left;
        padding: 25px;
        height: auto;
        margin: 0;
        border-radius: 25px 0 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        border-left: dashed 1px #E4D6C8;
        border-radius: 0 25px 25px 0;
        background: white;
        padding: 25px;
        height: auto;
        margin: 0;
        width: 50vw;
    }

    .heading {
        box-shadow: 5px 10px 8px #D1B79F;
        display: flex;
        border-radius: 25px;
        width: 60%;
    }

    .img-fluid {
        height: 20vh;
        min-height: 200px;
    }

    .auth {
        --bs-btn-font-size: 1rem;
    }

/* login */
    .form {
        width: 26vw;
        background: white;
        border-radius: 0 25px 25px 0;
    }

    .form-control {
        --bs-body-bg: #EBDBCC;
    }

/* edit & add */

    .edit-form, .add-form {
        padding: 10px;
        padding-bottom: 0;
        width: 100%;
    }

    .edit-card {
        background: #dbc7b4;
        margin: 0;
        border-radius: 25px 0 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
    }

/* buttons */
    .btn-primary, .btn-secondary {
        font-size: medium;
    }

    .btn-primary {
        --bs-btn-color: white;
        --bs-btn-bg: #BD9A75;
        --bs-btn-border-color: #BD9A75;
        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: #EBDBCC;
        --bs-btn-hover-border-color: #EBDBCC;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: black;
        --bs-btn-active-bg: #EBDBCC;
        --bs-btn-active-border-color: #EBDBCC;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #white;
        --bs-btn-disabled-bg: #BD9A75;
        --bs-btn-disabled-border-color: #BD9A75;
    }

    .btn-info {
        --bs-btn-color: white;
        --bs-btn-bg: #7C5D3C;
        --bs-btn-border-color: #7C5D3C;
        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: #BD9A75;
        --bs-btn-hover-border-color: #BD9A75;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: black;
        --bs-btn-active-bg: #BD9A75;
        --bs-btn-active-border-color: #BD9A75;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #white;
        --bs-btn-disabled-bg: #7C5D3C;
        --bs-btn-disabled-border-color: #7C5D3C;
    }

    .btn-view {
        font-family: sans-serif;
        --bs-btn-color: #D1B79F;
        --bs-btn-bg: #D1B79F;
        --bs-btn-border-color: #D1B79F;
        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: white;
        --bs-btn-hover-border-color: white;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: black;
        --bs-btn-active-bg: white;
        --bs-btn-active-border-color: white;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #D1B79F;
        --bs-btn-disabled-bg: #D1B79F;
        --bs-btn-disabled-border-color: #D1B79F;
        --bs-border-radius: 2.5rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-padding-y: 0.375rem;
    }
    
    .btn-group {
        position: absolute;
        margin: 10px;
    }

    .btn-extra {
        --bs-btn-padding-x: 0.3rem;
        --bs-btn-padding-y: 0rem;
        --bs-btn-hover-bg: #EBDBCC;
        --bs-btn-hover-border-color: #EBDBCC;
        --bs-btn-active-bg: #EBDBCC;
        --bs-btn-active-border-color: #EBDBCC;
    }

    .dropdown-menu {
        --bs-dropdown-bg: #EBDBCC;
        --bs-dropdown-padding-x: 0;
        --bs-dropdown-min-width: 5rem;
    }

    .btn-dropdown {
        min-width: 5rem;
        margin: 0;
        text-align: left;
        --bs-border-radius: 0;
        --bs-btn-hover-bg: white;
        --bs-btn-hover-border-color: white;
        --bs-btn-active-bg: white;
        --bs-btn-active-border-color: white;
    }

    .btn-add {
        font-family: sans-serif;
        float: left;
        --bs-border-radius: 2.5rem;
        margin-left: auto;
        --bs-btn-color: #D1B79F;
        --bs-btn-bg: #D1B79F;
        --bs-btn-border-color: #D1B79F;
        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: white;
        --bs-btn-hover-border-color: white;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: black;
        --bs-btn-active-bg: white;
        --bs-btn-active-border-color: white;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #D1B79F;
        --bs-btn-disabled-bg: #D1B79F;
        --bs-btn-disabled-border-color: #D1B79F;
    }

    .btn-close {
        width: 0;
        height: 0;
    }

    .btn-read {
        font-family: sans-serif;
        font-size: small;
        color: #BD9A75;
        margin: 0;
        text-align: left;
        padding: 0;
        border-radius: 0%;
    }

    .btn-read:hover {
        color: #7C5D3C;
        border-bottom: solid 1px #7C5D3C;
    }

/* root */
    body {
        --bs-body-bg: #EBDBCC !important;
        font-family: Atma;
        font-size: larger;
    }

    input {
        font-family: sans-serif;
    }

    .navbar {
        margin: 0;
        padding: 0 0 5px 15px;
        width: 100%;
        position: sticky;
        top: 0%;
        display: block;
        z-index: 10;
    }
    
    .navbar #menu {
        float: right;
        margin-right: 0;
    }
    
    .navbar a {
        float: left;
        display: block;
        color: black;
        padding: 15px 15px 15px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: medium;
    }

    .img-navbar, .head-navbar{
        display: inline-block;
        margin: 0 5px;
    }

    .head-navbar {
        margin-top: 10px;
        padding-top: 5px;
    }
    
    .img-navbar {
        height: 5vh;
        margin: 0;
    }

    .navbar a.active {
        border-bottom: 2px solid #7C5D3C;
    }
    
    .navbar a:hover:not(.active) {
        border-bottom: 2px solid #BD9A75;
    }

/* colors {
    D1B79F - shadow
    dbc7b4 - bg
    EBDBCC - light bg
    7C5D3C - dark bg
    BD9A75 - medium
} */